section.stack.present{
    background-color: rgba(255,255,255,0.5);
}
html.full.abstract1 body {
    background-image: url("abstract1.jpg");
    background-size: cover;
}
html.full.abstract2 body {
    background-image: url("abstract2.jpg");
    background-size: cover;
}
html.full.abstract3 body {
    background-image: url("abstract3.jpg");
    background-size: cover;
}
html.full.abstract4 body {
    background-image: url("abstract4.jpg");
    background-size: cover;
}
html.full.abstract body {
    background-image: url("abstract.jpg");
    background-size: cover;
}
html.full.businessman body {
    background-image: url("businessman.jpg");
    background-size: cover;
}
html.full.coffee1 body {
    background-image: url("coffee1.jpg");
    background-size: cover;
}
html.full.coffee body {
    background-image: url("coffee.jpg");
    background-size: cover;
}
html.full.compass body {
    background-image: url("compass.jpg");
    background-size: cover;
}
html.full.bureau1 body {
    background-image: url("desktop1.jpg");
    background-size: cover;
}
html.full.bureau2 body {
    background-image: url("desktop2.jpg");
    background-size: cover;
}
html.full.bureau body {
    background-image: url("desktop.jpg");
    background-size: cover;
}
html.full.eye body {
    background-image: url("eye.jpg");
    background-size: cover;
}
html.full.flags body {
    background-image: url("flags.jpg");
    background-size: cover;
}
html.full.forest1 body {
    background-image: url("forest1.jpg");
    background-size: cover;
}
html.full.forest2 body {
    background-image: url("forest2.jpg");
    background-size: cover;
}
html.full.forest3 body {
    background-image: url("forest3.jpg");
    background-size: cover;
}
html.full.forest4 body {
    background-image: url("forest4.jpg");
    background-size: cover;
}
html.full.forest5 body {
    background-image: url("forest5.jpg");
    background-size: cover;
}
html.full.forest body {
    background-image: url("forest.jpg");
    background-size: cover;
}
html.full.hourglass body {
    background-image: url("hourglass.jpg");
    background-size: cover;
}
html.full.idea body {
    background-image: url("idea.jpg");
    background-size: cover;
}
html.full.paysage1 body {
    background-image: url("landscape1.jpg");
    background-size: cover;
}
html.full.paysage2 body {
    background-image: url("landscape2.jpg");
    background-size: cover;
}
html.full.paysage3 body {
    background-image: url("landscape3.jpg");
    background-size: cover;
}
html.full.paysage body {
    background-image: url("landscape.jpg");
    background-size: cover;
}
html.full.laptop1 body {
    background-image: url("laptop1.jpg");
    background-size: cover;
}
html.full.laptop2 body {
    background-image: url("laptop2.jpg");
    background-size: cover;
}
html.full.laptop body {
    background-image: url("laptop.jpg");
    background-size: cover;
}
html.full.market1 body {
    background-image: url("market1.jpg");
    background-size: cover;
}
html.full.market body {
    background-image: url("market.jpg");
    background-size: cover;
}
html.full.ocean2 body {
    background-image: url("ocean2.jpg");
    background-size: cover;
}
html.full.ocean3 body {
    background-image: url("ocean3.jpg");
    background-size: cover;
}
html.full.ocean4 body {
    background-image: url("ocean4.jpg");
    background-size: cover;
}
html.full.ocean5 body {
    background-image: url("ocean5.jpg");
    background-size: cover;
}
html.full.ocean6 body {
    background-image: url("ocean6.jpg");
    background-size: cover;
}
html.full.ocean7 body {
    background-image: url("ocean7.jpg");
    background-size: cover;
}
html.full.ocean8 body {
    background-image: url("ocean8.jpg");
    background-size: cover;
}
html.full.ocean9 body {
    background-image: url("ocean9.jpg");
    background-size: cover;
}
html.full.ocean body {
    background-image: url("ocean.jpg");
    background-size: cover;
}
html.full.people1 body {
    background-image: url("people1.jpg");
    background-size: cover;
}
html.full.peoples body {
    background-image: url("peoples.jpg");
    background-size: cover;
}
html.full.plant2 body {
    background-image: url("plant2.jpg");
    background-size: cover;
}
html.full.plant3 body {
    background-image: url("plant3.jpg");
    background-size: cover;
}
html.full.plant4 body {
    background-image: url("plant4.jpg");
    background-size: cover;
}
html.full.plant body {
    background-image: url("plant.jpg");
    background-size: cover;
}
html.full.postit2 body {
    background-image: url("postit2.jpg");
    background-size: cover;
}
html.full.postit3 body {
    background-image: url("postit3.jpg");
    background-size: cover;
}
html.full.postit4 body {
    background-image: url("postit4.jpg");
    background-size: cover;
}
html.full.postit body {
    background-image: url("postit.jpg");
    background-size: cover;
}
html.full.productivity body {
    background-image: url("productivity.jpg");
    background-size: cover;
}
html.full.road body {
    background-image: url("road.jpg");
    background-size: cover;
}
html.full.screen2 body {
    background-image: url("screen2.jpg");
    background-size: cover;
}
html.full.screen3 body {
    background-image: url("screen3.jpg");
    background-size: cover;
}
html.full.screen body {
    background-image: url("screen.jpg");
    background-size: cover;
}
html.full.street2 body {
    background-image: url("street2.jpg");
    background-size: cover;
}
html.full.street body {
    background-image: url("street.jpg");
    background-size: cover;
}
html.full.tower2 body {
    background-image: url("tower2.jpg");
    background-size: cover;
}
html.full.tower body {
    background-image: url("tower.jpg");
    background-size: cover;
}
html.full.waterfall body {
    background-image: url("waterfall.jpg");
    background-size: cover;
}
html.full.wokers body {
    background-image: url("wokers.jpg");
    background-size: cover;
}
html.full.women1 body {
    background-image: url("women1.jpg");
    background-size: cover;
}
html.full.women2 body {
    background-image: url("women2.jpg");
    background-size: cover;
}
html.full.women3 body {
    background-image: url("women3.jpg");
    background-size: cover;
}
html.full.women body {
    background-image: url("women.jpg");
    background-size: cover;
}
html.full.womens body {
    background-image: url("womens.jpg");
    background-size: cover;
}
html.full.worker1 body {
    background-image: url("worker1.jpg");
    background-size: cover;
}
html.full.worker2 body {
    background-image: url("worker2.jpg");
    background-size: cover;
}
html.full.worker3 body {
    background-image: url("worker3.jpg");
    background-size: cover;
}
html.full.worker4 body {
    background-image: url("worker4.jpg");
    background-size: cover;
}
html.full.worker5 body {
    background-image: url("worker5.jpg");
    background-size: cover;
}
html.full.worker6 body {
    background-image: url("worker6.jpg");
    background-size: cover;
}
html.full.worker7 body {
    background-image: url("worker7.jpg");
    background-size: cover;
}
html.full.worker8 body {
    background-image: url("worker8.jpg");
    background-size: cover;
}
html.full.worker body {
    background-image: url("worker.jpg");
    background-size: cover;
}
html.full.workers10 body {
    background-image: url("workers10.jpg");
    background-size: cover;
}
html.full.workers11 body {
    background-image: url("workers11.jpg");
    background-size: cover;
}
html.full.workers12 body {
    background-image: url("workers12.jpg");
    background-size: cover;
}
html.full.workers13 body {
    background-image: url("workers13.jpg");
    background-size: cover;
}
html.full.workers14 body {
    background-image: url("workers14.jpg");
    background-size: cover;
}
html.full.workers15 body {
    background-image: url("workers15.jpg");
    background-size: cover;
}
html.full.workers16 body {
    background-image: url("workers16.jpg");
    background-size: cover;
}
html.full.workers17 body {
    background-image: url("workers17.jpg");
    background-size: cover;
}
html.full.workers1 body {
    background-image: url("workers1.jpg");
    background-size: cover;
}
html.full.workers2 body {
    background-image: url("workers2.jpg");
    background-size: cover;
}
html.full.workers3 body {
    background-image: url("workers3.jpg");
    background-size: cover;
}
html.full.workers4 body {
    background-image: url("workers4.jpg");
    background-size: cover;
}
html.full.workers5 body {
    background-image: url("workers5.jpg");
    background-size: cover;
}
html.full.workers6 body {
    background-image: url("workers6.jpg");
    background-size: cover;
}
html.full.workers7 body {
    background-image: url("workers7.jpg");
    background-size: cover;
}
html.full.workers8 body {
    background-image: url("workers8.jpg");
    background-size: cover;
}
html.full.workers9 body {
    background-image: url("workers9.jpg");
    background-size: cover;
}
html.full.workers body {
    background-image: url("workers.jpg");
    background-size: cover;
}
